<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/bootstrap.css" >
<h1>Landing page!</h1>
<p>welcome to YelpCamp</p>
<a href="/campgrounds" >View All campgrounds</a>
<%- include ('./partials/footer.ejs') %>.
